[submodule "MSPR1.EPSI-FastAPI"]
	path = MSPR1.EPSI-FastAPI
	url = https://github.com/enzomtpYT/MSPR1.EPSI-FastAPI.git
[submodule "frontmspr"]
	path = frontmspr
	url = https://github.com/Naimau-del/frontmspr.git
[submodule "MSPR3-APP"]
	path = MSPR3-APP
	url = https://github.com/enzomtpYT/MSPR3-APP.git
